name: Debug Workflow

on:
  # workflow_dispatch:
  push:
    branches:
      - main
      - '7.0'
      - '7.1'
      - '8.0'
    paths:
      - 'main/**/ChangeLog'
      - 'extra/**/ChangeLog'
      - '!main/**/debian/changelog'
      - '!extra/**/debian/changelog'

permissions:
  contents: read

env:
  SCRIPT_DETECT: .github/scripts/detect-changes.sh
  SCRIPT_RELEASE_MODULE: ./github/scripts/release-module.sh
  ZENTYAL_VERSION: 8.0

jobs:
  tests:
    # if: startsWith(github.event.head_commit.message, 'Merge pull request')
    runs-on: ubuntu-latest
    outputs:
      changed_modules: ${{ steps.detect.outputs.changed_modules }}

    steps:
      # https://github.com/actions/checkout
      - name: Checkout repository
        uses: actions/checkout@v5

      # https://github.com/tj-actions/changed-files
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          files: |
            extra/**
            main/**

      - name: Get changed modules
        id: detect
        env:
          ALL_CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: ${{ env.SCRIPT_DETECT }} changed-modules
